.modalPhoto{
    max-width: 80vw;
    max-height: 90vh;
    min-height: 30vh;
}

.modal-content {
    justify-content: center;
    align-items: center;
    background-color: #fff0 !important;
    border: none !important;
}

.fade {
    background-color: #fff9 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

@media (min-width: 500px){
    .modalPhoto{
        min-height: 40vh;
    }
    .fade {
        background-color: #0007 !important;
    }
}

@media (min-width: 992px){
    .galleryPainting:hover{
        background-color: white;
        opacity: 0.4;
        padding: 1%;
        transition-property:  all;
        transition-duration: 0.5s;
    }
}